.btn {
  background: #34d9cb;
  background-image: linear-gradient(to bottom, #34d9cb, #2980b9);
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  border: solid #2074a8 3px;
  text-decoration: none;
  
}

.btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
@media screen and (max-width: 360px) {
  

      .btn {

          display: none;
      }
}