/* inputs.css

  /*

  A Fluxer Stylesheet
  2018
  Coded by: Juan Guzmán
  CEO and Founder

   */
.input {
  display: block;
  }

.input:focus {

  outline: none;
  }

.input-comment {
  border: none;
	border-bottom: 1px solid #8A8888;
	font-family: 'Open Sans',sans-serif;
	transition: border 0.5s ease 1s;
  }

.input-comment:focus {
  border-bottom: 1px solid #22f59d;
  -webkit-animation: changecolor 6s infinite;
          animation: changecolor 6s infinite;

  }
  .input-comment::-moz-selection {
  background: #0069ff;
  }
  .input-comment::selection {
  background: #0069ff;
  }
  .input-search {
  padding: 0.6%;
  }
  .input-search-xl {
  width: 60%;
  }
  @-webkit-keyframes changecolor {
  from {
  border-bottom: 1px solid #0069ff;
  }
  to {
  border-bottom: 1px solid #22f59d;
  }
  }
  @keyframes changecolor {
  from {
  border-bottom: 1px solid #0069ff;
  }
  to {
  border-bottom: 1px solid #22f59d;
  }
  }
