/* text-colors.txt-css */

.txt-red {


   color: #ff3333;

}
.txt-green {

	 color: #4CFF33;
}
.txt-blue {

	 color: #33B5FF;
}
.txt-yellow {

	 color: #F4F80A;
}
.txt-grey {

	 color: #797D7F;
}
.txt-white {

	color: #F4F6F7;

}
.txt-bk-green {

	color: #117A65;
}
.txt-purple {

	color: #760AF8;
}
.txt-black {

  color: #312F2F;
}