/* core/profile.css

   /*

  A Fluxer Stylesheet 
  2018
  Coded by: Juan Guzmán
  CEO and Founder 

   */
 
 div textarea {

	border: none;
	transition: all 1s;
	color: #fff;

 }

 div textarea:focus {

	background: transparent;

 }

 #wallpaper {

 	 color: #fff;
 	 padding: 0;
 	 display: flex;
 
 }

 #user-info {

 	display: flex;
 	margin: 0;
 
 }

 #profile-photo {

 	 margin: 8% 1% 2% 2%;
	 transition: all .3s;
 
 }

#profile-photo:hover {

	filter: blur(2px);

}

 .user-name {

 	 font-family: 'Open Sans', sans-serif;
 	 margin-top: 13%;
 	 margin-left: 1%;
 	 display: inline;
   
 }

 #icon-hand {

 	 display: block;

 
 }

 #icon-hand:hover {

 	 color: #22f59d !important;
 
 }

 #icon-comment {


	 display: block;

 
 }

 #icon-comment:hover {

	color: #22f59d !important;

 
 }

 #icons-container {

 	  position: absolute;
 	  left: 29.5%;
 	  top: 34.5%;
 
 }

 #icons-list {

 	display: block;
 
 }

 td .link {

	margin-left: 15%;

 }

 #form-wallpaper {

 	margin: 2% 0% 4% 25%;
 
 }

 #button-wallpaper {

 	margin: 4% 0% 4% 18%;
 
 }

#slider {

	position: fixed;
	z-index: 3;
	height: 47rem;
	width: 10%;
    background: transparent;
    box-shadow: none;
    transition: all .3s;
    color: #fff;
    font-family: 'Open Sans', cursive;

}

#slider-container {
	margin-top: 10%;
	visibility: hidden;
}
.side-box {
	display: flex;
	justify-content: center;
	margin: 2% !important;
	width: 26% !important;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	color: #eee;
}

 @media screen and (max-width: 425px) {

#icons-list {

	display: flex;

}

#icons-container {

	 position: absolute;
	 left: 12%;
	 top: 46.5%;

}

li a {

	 margin-left: 25%;

}

.tt-pick {

	display: none;

}
 
 }



