/* main-core.css */
/*

  A Fluxer Stylesheet 
  2018
  Coded by: Juan Guzmán
  CEO and Founder 

   */

   html {

   	   font-size: 20px;
   }

   body {

   	  margin: 0 auto;
   	  padding: 0;
   }